@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --black-bold: #2a2b2f;
    --primary-color: #6d2fff;
    --background-light: #f1f1f1;
    --background: #fff;
    --black: #32353a;
    --grey-color: #8d99a7;
    --white: #ffffff;
    --border-radius-main: 6px;
    --orange: #f1542e;
    --purple: #bb6bd9;
    --border-color-grey: #454f59;
    --white-grey: #f9fafb;
    --yellow-light: #ffe480;
    --purple-light: #bba9fb;
}

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
// html {
//     font-size: 62.5%!important;
//     box-sizing: border-box;
// }
.home-wapper {
    font-family: 'Lato', sans-serif;
    color: var(--black);
    font-size: 1rem;
}

.bg-button {
    background: linear-gradient(to right, #6d2fff, #6f42c1);
}

.brg-light {
    background: #ccc;
}

.brg-orange {
    background: #f26651!important;
}

.app {
    display: flex;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: 'Lato', sans-serif;
// }
.home-wapper aside {
    background-color: var(--background-light);
    width: 240px;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 22px 18px;
    color: var(--black);
}


/* nav */

.home-wapper nav {
    margin-top: 26px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li a {
            text-decoration: none;
            color: var(--black);
            position: relative;
            display: inline-block;
            padding: 14px;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius-main);
            transition: 0.4s;
            &.home {
                font-weight: 700;
            }
            &.active::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 80%;
                background-color: var(--orange);
                left: -9%;
                top: 10%;
                border-radius: 0 var(--border-radius-main) var(--border-radius-main) 0;
            }
            &:hover {
                background: linear-gradient(to right, #6d2fff, #6f42c1);
                color: var(--white);
                font-weight: 700;
            }
            &.path-heading {
                font-weight: 700;
                color: var(--black);
                display: inline-block;
                margin: 8px 0;
            }
            &.path-description {
                display: inline-block;
                width: 60%;
            }
            &.icon-cate {
                fill: currentColor;
                width: 20px;
                height: 20px;
                display: inline-block;
                font-size: 1.1rem;
                margin-right: 24px;
            }
            &.block-path:hover {
                background-color: none;
                color: var(--white);
            }
        }
        li img.path-banner {
            visibility: visible;
            inset: 0px;
            border-radius: var(--border-radius-main);
            display: block;
            min-width: 170px;
            max-width: 170px;
            min-height: 66px;
            max-height: 66px;
        }
    }
}

.home-wapper .active {
    background: linear-gradient(to right, #6d2fff, #6f42c1);
    color: var(--white);
    font-weight: 700;
}

.icon-mobile {
    fill: currentColor;
    width: 26px;
    height: 26 px;
    display: inline-block;
    font-size: 1.1rem;
    margin-right: 24px;
    cursor: pointer;
}

.icon-hide-sidebar {
    fill: currentColor;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 1.1rem;
    margin-right: 24px;
    cursor: pointer;
}

.icon-hide-sidebar:hover {
    fill: red;
}


/* end nav */


/* main */

.home-wapper main {
    background-color: var(--white);
    width: 100%;
}


/* header */

.home-wapper header {
    padding-top: 14px;
    font-family: 'Poppins', sans-serif;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    margin-right: 8px;
}

.home-wapper header button {
    border: none;
    background: transparent;
    margin-right: 12px;
    cursor: pointer;
    color: var(--grey-color);
    position: relative;
    font-weight: 600;
}

.login-and-setting {
    text-align: right;
}

.login-github {
    border: 1px solid var(--white);
    border-radius: var(--border-radius-main);
    padding: 8px 18px;
    margin-right: 0;
    background: var(--primary-color);
    color: var(--white);
}


/* end header */


/* content viết ở đây */


/* social */

.social {
    margin-bottom: 36px;
}

.social-block {
    border: 1px solid #d5d5d5;
    border-radius: var(--border-radius-main);
    padding: 16px;
    display: flex;
    margin-bottom: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.social-block:hover,
.content-item:hover {
    border: 1px solid var(--grey-color);
}

.social-icon {
    border-radius: 10px;
    background-color: var(--purple);
    padding: 18px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.social-label {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 8px;
}

.social-description {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5rem;
}

.social-icon-svg {
    width: 35px;
    height: 35px;
}

.bg-yt {
    background-color: #ef4444;
}

.bg-tw {
    background-color: #38bdf8;
}

.bg-discord {
    background-color: #7289da;
}


/* end social */


/* end content */


/* footer */

.home-wapper footer {
    border-top: 1px solid var(--border-color-grey);
    font-family: 'Poppins', sans-serif;
    color: #c9d0da;
    padding: 38px 0;
    background: linear-gradient(to top, #6d2fff, #6f42c1);
}

.ft-description {
    font-size: 1rem;
    margin: 20px 0;
    line-height: 28px;
}

.develope-name {
    padding: 0 2px;
    display: inline-block;
    background-color: #2f80ed;
    color: #f6f7fb!important;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
}

.footer-cate a {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 16px;
    color: #c9d0da;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.footer-cate a:hover {
    color: #2f80ed;
}


/* end footer */


/* end main */


/* reponse */

@media (min-width: 1405px) {
    .home-wapper .container {
        max-width: 1070px;
    }
}

@media (max-width: 576px) {
    .home-wapper .hide-on-mobile {
        display: none;
    }
    .home-wapper .column-mobile {
        display: flex;
        align-items: center;
    }
    .home-wapper header {
        padding-top: 14px;
        font-family: 'Poppins', sans-serif;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.04);
        padding-bottom: 16px;
        position: fixed;
        width: 100%;
        background: var(--background-light);
        z-index: 99;
    }
    .home-wapper aside {
        position: fixed;
        width: 100%;
        text-align: left;
        z-index: 100;
    }
    .home-wapper .content {
        margin-top: 80px!important;
    }
}

@media (min-width: 576px) {
    .hide-on-tablet {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .home-wapper .hide-on-destop {
        display: none;
    }
    .home-wapper aside {
        width: 100px;
        position: fixed;
    }
    .home-wapper main {
        margin-left: 100px;
    }
    .home-wapper nav ul li img.path-banner {
        visibility: visible;
        inset: 0px;
        border-radius: var(--border-radius-main);
        display: block;
        min-width: 70px;
        max-width: 70px;
        min-height: 50px;
        max-height: 50px;
        object-fit: cover;
        object-position: center;
    }
    .home-wapper aside {
        padding: 0;
        text-align: center;
    }
    .home-wapper nav ul li a .icon-cate {
        margin: 0;
    }
    .home-wapper nav ul li a.active::before {
        left: 0;
    }
}

@media (min-width: 992px) {
    .home-wapper .hide-on-destop-large {
        display: none;
    }
    .home-wapper aside {
        position: fixed;
    }
    .home-wapper main {
        margin-left: 240px;
    }
}


/* @media (max-width: 1400px) { 

} */


/* login */

.overlay {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-form {
    position: fixed;
    width: 600px;
    min-height: 68%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-light);
    font-size: 1.4rem;
    color: var(--black);
    box-shadow: none;
}

.block-style {
    margin-bottom: 16px;
    font-family: 'Lato', sans-serif;
    padding: 30px;
    background-color: var(--background);
    border-radius: var(--border-radius-main);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.login-form h3 {
    font-size: 2rem;
    text-align: center;
    padding: 30px 0;
}

.login-form .form-item {
    width: 100%;
    height: 46px;
    border-radius: var(--border-radius-main);
    border: 1px solid #d5d5d5;
    outline: none;
    padding: 0 12px;
    color: var(--black);
    margin-bottom: 12px;
}

.btn-login {
    border: none;
    outline: none;
    height: 60px;
    border-radius: var(--border-radius-main);
    width: 100%;
    color: var(--white);
    font-size: 1.6rem;
}